<!DOCTYPE html>
<html>
    <head>
        <title>Donate An Item</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body class="home_page">
        <h1 class="wesbite_title">CommunityGive</h1>
        <!-- logo -->
        <img src="{{url_for('static', filename='CommunityGive.jpg')}}" 
        alt="website_logo"
        style="width:60px; height:60;">
        <!-- links to differnt pages of website w/navigation bar -->
        <nav>
        <a href="/">Home</a>
        <a href="/donate_page">Donate An Item</a>
        <a href="/available_items_page">Available Items</a>
        </nav>
        <!-- Home Page Intro -->
         <div class="reason">
            <h1>Reason</h1>
            <p>People often find themselves with items they no longer need or looking for a new one. CommuintyGive helps connect people so that items can find themselves in someone's hand who might need them instead of ending up in the landfill.</p>
         </div>
         <div class="mission">
            <h1>Mission</h1>
            <p>CommunityGive's goal is to make donating easy and encourage community support. Along with that, the hope is to reduce unnecessary waste and help people find items they might need.</p>
        </div>
        <div class="how_it_works">
            <h1>How it Works</h1>
            <div class="card">
                <h3>Donate an Item</h3>
                <p>List an item you no longer need</p>
            </div>
            <div class="card">
                <h3>Find an Item</h3>
                <p>Contact the owner and set up a pickup</p>
            </div>
    </body>
</html>

